all:
  id_call:
    mapping:
      1: [OpenPNE君, openpne-kun, admin]
    pushcall_api:
      url: http://example.com/api/pushcall/index.php
      siteid: mysite.id
      key: 12345678901234567890123456789012

